body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-wrapper a {
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: #1976d2;
  text-decoration: none;
}

.content-wrapper a:hover {
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(25, 118, 210, 0.86);
  text-decoration: underline #1976d2;
}

.content-wrapper img {
  display: block;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 400px;
}